body {
  overflow-x: hidden;
}
.yazi {
  font-weight: bold;
  font-size: 64px;
}
.yazi2 {
  font-size: 22px !important;
  text-justify: auto;
}
#hero {
  background: linear-gradient(180deg, #ee0979 0, #ff6a00 100%);
  height: 80vh;
}
.navreng {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.imgbrd {
  border-radius: 100%;
}
#sec2 {
  background-color: white !important ;
  position: relative;
  z-index: 100;
}
@media only screen and (max-width: 600px) {
  #link {
    margin-left: 0px !important;
  }
  .yazi {
    font-weight: bold;
    font-size: 40px;
  }
  .yazi2 {
    font-size: 20px !important;
    text-justify: auto;
  }
}
footer {
  height: 18vh;
  background-color: black !important;
}
